In [1]:
## Airbnb Bookings Data Analysis
#Exploring listing and bookings data to uncover factors that drive cancellations, revenue potential, and guest behavior.

## 1. Objective
#Initial EDA and vizualisations to identify the drivers of cancellations, revenue and guest behavior

## 2. Data Overview
#This data is publicly available on kaggle.com and contains

## 3. Cleaning & Preparation
#Missing data, formatting, value sanity checks.

## 4. Key Questions Explored
# What listing features correlate with high occupancy?
# Does cancellation policy impact pricing or reviews?
# How does location affect guest behavior?

## 5. Visual Insights
#Charts, grouped metrics, comparisons.

## 6. Observations & Takeaways
#Summary of business-relevant insights.

In [2]:
# importing necessary libraries
import pandas as pd
import numpy as np
import time
import glob
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import seaborn as sns
from scipy import stats
from scipy.stats.mstats import winsorize
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import silhouette_score, silhouette_samples

# dimensionality reduction
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE
#import umap

# clustering
from sklearn.cluster import KMeans, MiniBatchKMeans
from sklearn.cluster import AgglomerativeClustering
from sklearn.cluster import DBSCAN
from scipy.cluster.hierarchy import dendrogram, linkage
from sklearn.mixture import GaussianMixture

In [3]:
## Part 1: Importing, Cleaning & EDA

### Importing

In [4]:
#orginal df
df=pd.read_csv(r'C:\Users\riesn\Documents\vacation-rental-bookings-analysis\data\Airbnb_Open_Data.csv', delimiter=',', encoding='utf-8', low_memory=False)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [6]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None
df.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,True,flexible,Private room,2005.0,$620,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [7]:
# Cleaning price and service fee columns
def clean_currency(x):
    # Remove any non-numeric characters such as $ or commas and convert to float
    if pd.isnull(x):
        return np.nan
    try:
        x = str(x).replace('$', '').replace(',', '').strip()
        return float(x)
    except Exception as e:
        # In case conversion fails, log the incident and return NaN
        # This method resolves common errors when numeric conversions are attempted on improperly formatted strings.
        return np.nan

# Apply cleaning function to relevant columns
for col in ['price', 'service fee']:
    if col in df.columns:
        df[col] = df[col].apply(clean_currency)

# Handle missing values in reviews per month by filling with 0 (i.e., no reviews per month)
if 'reviews per month' in df.columns:
    df['reviews per month'] = df['reviews per month'].fillna(0)

# Check the cleaned columns
print('Data types after cleaning:')
print(df[['price', 'service fee', 'reviews per month']].dtypes)

# Optional: Drop or fill other missing values as needed
# For this analysis we proceed without dropping rows, but note that this may be adjusted in future analysis.

Data types after cleaning:
price                float64
service fee          float64
reviews per month    float64
dtype: object

In [8]:
#going to clean up the column names for ease
orig_cols = list(df.columns)
new_cols = []
for col in orig_cols:
    new_cols.append(col.strip().replace('  ', ' ').replace(' ', '_').lower())
df.columns = new_cols

In [9]:
## Exploring Categorical variables

In [11]:
def print_unique_values_with_counts(df, columns):
    for col in columns:
        print(f"\n📌 {col} — Unique Values, Counts, and Percentages:")
        value_counts = df[col].value_counts(dropna=False)
        percentages = df[col].value_counts(normalize=True, dropna=False) * 100
        summary = pd.DataFrame({'Count': value_counts, 'Percentage': percentages.round(2)})
        print(summary)
        print('-' * 60)

# Example usage:
columns_to_check = ['neighbourhood','neighbourhood_group','country', 'country_code', 'instant_bookable', 'cancellation_policy', 'room_type']
print_unique_values_with_counts(df, columns_to_check)

📌 neighbourhood — Unique Values, Counts, and Percentages:
                            Count  Percentage
neighbourhood
Bedford-Stuyvesant           7937        7.74
Williamsburg                 7775        7.58
Harlem                       5466        5.33
Bushwick                     4982        4.86
Hell's Kitchen               3965        3.86
Upper West Side              3860        3.76
Upper East Side              3680        3.59
East Village                 3492        3.40
Midtown                      3390        3.30
Crown Heights                3262        3.18
East Harlem                  2341        2.28
Chelsea                      2285        2.23
Greenpoint                   2143        2.09
Lower East Side              1948        1.90
Astoria                      1876        1.83
Washington Heights           1779        1.73
Financial District           1490        1.45
West Village                 1484        1.45
Flatbush                     1295        1.26
East Flatbush                1211        1.18
Prospect-Lefferts Gardens    1165        1.14
Long Island City             1150        1.12
Clinton Hill                 1140        1.11
Park Slope                   1007        0.98
Flushing                      985        0.96
Murray Hill                   960        0.94
Fort Greene                   949        0.92
Kips Bay                      920        0.90
Ridgewood                     908        0.88
Sunset Park                   869        0.85
Sunnyside                     791        0.77
Chinatown                     790        0.77
Greenwich Village             744        0.73
Prospect Heights              699        0.68
Gramercy                      693        0.68
Ditmars Steinway              686        0.67
SoHo                          685        0.67
Morningside Heights           635        0.62
Jamaica                       619        0.60
East New York                 607        0.59
Woodside                      588        0.57
South Slope                   569        0.55
Theater District              565        0.55
Inwood                        548        0.53
Elmhurst                      531        0.52
Nolita                        530        0.52
Gowanus                       494        0.48
East Elmhurst                 486        0.47
Carroll Gardens               479        0.47
Jackson Heights               449        0.44
Canarsie                      402        0.39
Sheepshead Bay                369        0.36
Kensington                    369        0.36
Boerum Hill                   358        0.35
Tribeca                       345        0.34
Cypress Hills                 336        0.33
Windsor Terrace               331        0.32
Brooklyn Heights              308        0.30
Forest Hills                  305        0.30
Bay Ridge                     304        0.30
Little Italy                  278        0.27
Borough Park                  268        0.26
Maspeth                       258        0.25
Springfield Gardens           248        0.24
Rego Park                     236        0.23
Midwood                       235        0.23
Arverne                       223        0.22
Richmond Hill                 221        0.22
Flatlands                     217        0.21
St. Albans                    216        0.21
Cobble Hill                   199        0.19
Woodhaven                     192        0.19
Rockaway Beach                187        0.18
Red Hook                      178        0.17
Downtown Brooklyn             175        0.17
Rosedale                      171        0.17
Brighton Beach                168        0.16
Kingsbridge                   165        0.16
Corona                        160        0.16
Roosevelt Island              159        0.15
Wakefield                     159        0.15
Flatiron District             158        0.15
Bensonhurst                   157        0.15
Brownsville                   154        0.15
Fordham                       153        0.15
Ozone Park                    150        0.15
Mott Haven                    149        0.15
Queens Village                147        0.14
Gravesend                     143        0.14
NoHo                          140        0.14
Glendale                      139        0.14
Longwood                      135        0.13
Two Bridges                   132        0.13
South Ozone Park              127        0.12
St. George                    125        0.12
Bayside                       124        0.12
Concourse                     123        0.12
Briarwood                     121        0.12
Fort Hamilton                 120        0.12
Battery Park City             118        0.12
Tompkinsville                 110        0.11
Civic Center                  107        0.10
Fresh Meadows                 100        0.10
Port Morris                    99        0.10
Parkchester                    99        0.10
Allerton                       97        0.09
Williamsbridge                 96        0.09
Columbia St                    89        0.09
Stuyvesant Town                83        0.08
Kew Gardens                    83        0.08
Cambria Heights                79        0.08
Far Rockaway                   78        0.08
Concourse Village              76        0.07
Norwood                        76        0.07
Pelham Gardens                 74        0.07
Vinegar Hill                   72        0.07
DUMBO                          70        0.07
Laurelton                      68        0.07
Highbridge                     67        0.07
Middle Village                 67        0.07
Kew Gardens Hills              66        0.06
Stapleton                      65        0.06
Concord                        61        0.06
West Brighton                  59        0.06
Claremont Village              59        0.06
Throgs Neck                    58        0.06
University Heights             55        0.05
Mount Hope                     54        0.05
Hunts Point                    53        0.05
Arrochar                       52        0.05
Howard Beach                   50        0.05
Jamaica Estates                50        0.05
Clason Point                   50        0.05
Coney Island                   50        0.05
College Point                  48        0.05
Bronxdale                      48        0.05
Bath Beach                     48        0.05
Schuylerville                  47        0.05
Morris Heights                 46        0.04
Morris Park                    45        0.04
Belmont                        45        0.04
Randall Manor                  45        0.04
Morrisania                     44        0.04
Hollis                         44        0.04
Pelham Bay                     44        0.04
City Island                    41        0.04
Bayswater                      40        0.04
Clifton                        39        0.04
Edenwald                       35        0.03
Soundview                      33        0.03
Edgemere                       32        0.03
Tremont                        31        0.03
Belle Harbor                   31        0.03
Navy Yard                      31        0.03
Bergen Beach                   30        0.03
Woodlawn                       29        0.03
Baychester                     29        0.03
Eastchester                    29        0.03
North Riverdale                28        0.03
Marble Hill                    28        0.03
Whitestone                     26        0.03
Van Nest                       26        0.03
Bellerose                      26        0.03
Dyker Heights                  25        0.02
Mariners Harbor                25        0.02
Fieldston                      25        0.02
Port Richmond                  25        0.02
Great Kills                    24        0.02
Melrose                        23        0.02
Westchester Square             23        0.02
Olinville                      23        0.02
Shore Acres                    23        0.02
Manhattan Beach                22        0.02
Unionport                      22        0.02
Douglaston                     22        0.02
Castle Hill                    22        0.02
Grant City                     22        0.02
Jamaica Hills                  21        0.02
East Morrisania                21        0.02
Sea Gate                       20        0.02
Riverdale                      19        0.02
Mount Eden                     18        0.02
New Springville                18        0.02
Grymes Hill                    18        0.02
Midland Beach                  17        0.02
South Beach                    16        0.02
NaN                            16        0.02
New Brighton                   15        0.01
Mill Basin                     14        0.01
Oakwood                        14        0.01
Rosebank                       14        0.01
Tottenville                    13        0.01
Dongan Hills                   13        0.01
Castleton Corners              13        0.01
New Dorp Beach                 12        0.01
Bull's Head                    12        0.01
Holliswood                     10        0.01
Emerson Hill                   10        0.01
Silver Lake                     9        0.01
Arden Heights                   9        0.01
Breezy Point                    9        0.01
Spuyten Duyvil                  9        0.01
Huguenot                        9        0.01
Bay Terrace                     8        0.01
Prince's Bay                    8        0.01
Little Neck                     8        0.01
Todt Hill                       7        0.01
Graniteville                    7        0.01
Eltingville                     7        0.01
Neponsit                        7        0.01
West Farms                      6        0.01
Howland Hook                    6        0.01
Richmondtown                    5        0.00
Westerleigh                     5        0.00
Co-op City                      5        0.00
Bay Terrace, Staten Island      4        0.00
New Dorp                        4        0.00
Lighthouse Hill                 3        0.00
Rossville                       3        0.00
Woodrow                         3        0.00
Willowbrook                     3        0.00
Gerritsen Beach                 3        0.00
Fort Wadsworth                  2        0.00
Glen Oaks                       2        0.00
Chelsea, Staten Island          1        0.00
------------------------------------------------------------

📌 neighbourhood_group — Unique Values, Counts, and Percentages:
                     Count  Percentage
neighbourhood_group
Manhattan            43792       42.68
Brooklyn             41842       40.78
Queens               13267       12.93
Bronx                 2712        2.64
Staten Island          955        0.93
NaN                     29        0.03
brookln                  1        0.00
manhatan                 1        0.00
------------------------------------------------------------

📌 country — Unique Values, Counts, and Percentages:
                Count  Percentage
country
United States  102067       99.48
NaN               532        0.52
------------------------------------------------------------

📌 country_code — Unique Values, Counts, and Percentages:
               Count  Percentage
country_code
US            102468       99.87
NaN              131        0.13
------------------------------------------------------------

📌 instant_bookable — Unique Values, Counts, and Percentages:
                  Count  Percentage
instant_bookable
False             51474       50.17
True              51020       49.73
NaN                 105        0.10
------------------------------------------------------------

📌 cancellation_policy — Unique Values, Counts, and Percentages:
                     Count  Percentage
cancellation_policy
moderate             34343       33.47
strict               34106       33.24
flexible             34074       33.21
NaN                     76        0.07
------------------------------------------------------------

📌 room_type — Unique Values, Counts, and Percentages:
                 Count  Percentage
room_type
Entire home/apt  53701       52.34
Private room     46556       45.38
Shared room       2226        2.17
Hotel room         116        0.11
------------------------------------------------------------

In [12]:
df['neighbourhood_group'] = df['neighbourhood_group'].str.strip().str.title()
replacements = {
    "Brookln": "Brooklyn",
    "Manhatan": "Manhattan"
}

df['neighbourhood_group'] = df['neighbourhood_group'].replace(replacements)

In [13]:
df_cleaned = df.dropna(subset=['neighbourhood_group']).reset_index(drop=True)

In [14]:
df_cleaned.head()

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,country_code,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,966.0,193.0,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,142.0,28.0,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,True,flexible,Private room,2005.0,620.0,124.0,3.0,0.0,NaN,0.00,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,True,moderate,Entire home/apt,2005.0,368.0,74.0,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,204.0,41.0,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [15]:
#exploring continous variables:
def  describe_continuous_variables(df):
    # Select only numeric columns (int and float)
    numeric_df = df.select_dtypes(include=['number'])
    
    # Return the descriptive statistics
    return numeric_df.describe()

summary = describe_continuous_variables(df)
print(summary)

                 id       host_id            lat           long  \
count  1.025990e+05  1.025990e+05  102591.000000  102591.000000
mean   2.914623e+07  4.925411e+10      40.728094     -73.949644
std    1.625751e+07  2.853900e+10       0.055857       0.049521
min    1.001254e+06  1.236005e+08      40.499790     -74.249840
25%    1.508581e+07  2.458333e+10      40.688740     -73.982580
50%    2.913660e+07  4.911774e+10      40.722290     -73.954440
75%    4.320120e+07  7.399650e+10      40.762760     -73.932350
max    5.736742e+07  9.876313e+10      40.916970     -73.705220

       construction_year          price    service_fee  minimum_nights  \
count      102385.000000  102352.000000  102326.000000   102190.000000
mean         2012.487464     625.293536     125.026924        8.135845
std             5.765556     331.671614      66.325739       30.553781
min          2003.000000      50.000000      10.000000    -1223.000000
25%          2007.000000     340.000000      68.000000        2.000000
50%          2012.000000     624.000000     125.000000        3.000000
75%          2017.000000     913.000000     183.000000        5.000000
max          2022.000000    1200.000000     240.000000     5645.000000

       number_of_reviews  reviews_per_month  review_rate_number  \
count      102416.000000      102599.000000       102273.000000
mean           27.483743           1.161368            3.279106
std            49.508954           1.680924            1.284657
min             0.000000           0.000000            1.000000
25%             1.000000           0.090000            2.000000
50%             7.000000           0.480000            3.000000
75%            30.000000           1.710000            4.000000
max          1024.000000          90.000000            5.000000

       calculated_host_listings_count  availability_365
count                   102280.000000     102151.000000
mean                         7.936605        141.133254
std                         32.218780        135.435024
min                          1.000000        -10.000000
25%                          1.000000          3.000000
50%                          1.000000         96.000000
75%                          2.000000        269.000000
max                        332.000000       3677.000000

In [17]:
# in the continuous variables there seems to be some interesting outliers:
#-max 3677 days available over then next 365?
#- max calculated host listing count at 332?
#... etc

In [20]:
def flag_outliers_all_numeric(df, suffix="_outlier"):
    """
    Flags outliers across all numeric columns in a DataFrame using the IQR method.
    Adds a new boolean column for each original numeric column.
    """
    df_out = df.copy()
    numeric_cols = df_out.select_dtypes(include='number').columns

    for col in numeric_cols:
        Q1 = df_out[col].quantile(0.25)
        Q3 = df_out[col].quantile(0.75)
        IQR = Q3 - Q1
        lower = Q1 - 1.5 * IQR
        upper = Q3 + 1.5 * IQR

        outlier_col = f"{col}{suffix}"
        df_out[outlier_col] = df_out[col].apply(
            lambda x: True if x < lower or x > upper else False if pd.notnull(x) else None
        )

    return df_out

In [21]:
df_flagged = flag_outliers_all_numeric(df)

# See which rows are outliers in 'price'
df_flagged[df_flagged['price_outlier'] == True]

# Count of outliers per column
df_flagged.filter(like='_outlier').sum()

id_outlier                                    0
host_id_outlier                               0
lat_outlier                                 916
long_outlier                               6539
construction_year_outlier                     0
price_outlier                                 0
service_fee_outlier                           0
minimum_nights_outlier                    18394
number_of_reviews_outlier                 11736
reviews_per_month_outlier                  5747
review_rate_number_outlier                    0
calculated_host_listings_count_outlier    17829
availability_365_outlier                      1
dtype: object